.container {
  display: flex;
  width: 100%;
}

.page {
  display: grid;
    grid-template-columns: repeat('auto-fill', minmax(150px, 1fr));
}

.comics {
  
}



.comic-description {
  display: flex;
  flex-direction: column;
}